@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=Lavishly+Yours&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=Kaushan+Script&family=Lavishly+Yours&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=Kaushan+Script&family=Lavishly+Yours&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Reggae+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    /*字體抓取*/
    font-family: "headpaint";
    src: url(../webfonts/headpaint.ttf);
}

/* Section-1 Styles */
#section-1 {
    height: 100vh;
    color: #fff;
    background-color: #222;
}

#section-1 .content-slider {
    position: relative;
    width: 100%;
    height: 100%;
}

#section-1 .content-slider input {
    display: none;
}

#section-1 .content-slider .slider {
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
}

/* 背景圖片 */
#section-1 .content-slider .slider .banner {
    position: absolute;
    top: 0px;
    left: 0;
    opacity: 0;
    z-index: 0;
    width: inherit;
    height: inherit;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all 0.5s ease;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper {
    height: 100%;
    padding-top: 10em;
    background-image: linear-gradient(rgba(24, 23, 23, 0.708), rgba(24, 24, 23, 0.602));
    box-sizing: border-box;

}

/* #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    padding-bottom: 0.3em;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 2.5em;
    text-transform: none;
} */

#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
    font-size: 6.5em;
    line-height: 95%;
    font-family: "headpaint";
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
    display: block;
    width: 4em;
    height: 0.1875em;
    margin: 2.5em auto;
    background: #fff;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button {
    padding-bottom: 5em;
    z-index: 15 !important;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a {
    display: inline-block;
    padding: 0.5em 2em;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 0.875em;
    color: #fff;
    text-transform: uppercase;
    border: 0.1875em solid #fff;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
    color: #e88382;
    border-color: #e88382;
    transition: 0.3s;
}

#section-1 .content-slider .slider #top-banner-1 {
    background: url(../images/banner-1-01.svg) no-repeat center center;
    background-size: cover;
}

#section-1 .content-slider .slider #top-banner-2 {
    background: url(../images/bg-5.jpg) no-repeat center center;
    background-size: cover;
}

#section-1 .content-slider .slider #top-banner-3 {
    background: url(../images/bg-8.jpg) no-repeat center center;
    background-size: cover;
}

#section-1 .content-slider .slider #top-banner-4 {
    background: url(../images/bg-7.jpg) no-repeat center center;
    background-size: cover;
}

#section-1 .content-slider nav {
    display: flex;

    gap: 50px;

    position: absolute;
    bottom: 40px;
    width: 100%;
    z-index: 10;
    text-align: center;
}

#section-1 .content-slider nav .controls {
    display: block;
    width: 70%;
    margin: 0 auto;
    color: #564747;
}

/* 下方輪播線條 */
#section-1 .content-slider nav .controls label {
    position: relative;
    display: inline-block;

    width: 10px;
    height: 10px;
    border-radius: 99%;
    overflow: hidden;

    background-color: #ffffff;

    cursor: pointer;
    transition: all 0.3s;
}

#section-1 .content-slider nav .controls label .progressbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 99%;

    background-color: #ffffff;
    z-index: 100;
}

#section-1 .content-slider nav .controls label .progressbar .progressbar-fill {
    position: inherit;
    width: inherit;
    height: inherit;
    margin-left: -80px;

    background: #818181ab;

    border-radius: 99%;

}

#section-1 .content-slider nav .controls label span {
    font-size: 1.4em;
    font-weight: 700;
}

#section-1 .content-slider nav .controls label:hover {
    color: #e88382;
}

#section-1 .content-slider #banner1:checked~.slider #top-banner-1,
#section-1 .content-slider #banner2:checked~.slider #top-banner-2,
#section-1 .content-slider #banner3:checked~.slider #top-banner-3,
#section-1 .content-slider #banner4:checked~.slider #top-banner-4 {
    opacity: 1;
    z-index: 1;
}

#section-1 .content-slider #banner1:checked~nav label:nth-of-type(1),
#section-1 .content-slider #banner2:checked~nav label:nth-of-type(2),
#section-1 .content-slider #banner3:checked~nav label:nth-of-type(3),
#section-1 .content-slider #banner4:checked~nav label:nth-of-type(4) {
    cursor: default;
    color: #fff;
    transition: all 0.5s;
}

#section-1 .content-slider #banner1:checked~nav label:nth-of-type(1) .progressbar,
#section-1 .content-slider #banner2:checked~nav label:nth-of-type(2) .progressbar,
#section-1 .content-slider #banner3:checked~nav label:nth-of-type(3) .progressbar,
#section-1 .content-slider #banner4:checked~nav label:nth-of-type(4) .progressbar {
    background: #fff;
}

#section-1 .content-slider #banner1:checked~nav label:nth-of-type(1) .progressbar-fill,
#section-1 .content-slider #banner2:checked~nav label:nth-of-type(2) .progressbar-fill,
#section-1 .content-slider #banner3:checked~nav label:nth-of-type(3) .progressbar-fill,
#section-1 .content-slider #banner4:checked~nav label:nth-of-type(4) .progressbar-fill {
    animation: progressBarFill 5s linear;
}

/* Animations */
@keyframes progressBarFill {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0;
    }
}